/* styles.css */

/* Color llamativo para el header */
.bg-bright-green {
    background-color: #9e2fca; /* Verde neón brillante */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transición suave */
}

/* Efecto de reacción al pasar el mouse */
.bg-bright-green:hover {
    transform: scale(1.02); /* Aumenta ligeramente el tamaño */
    filter: brightness(1.05); /* Aumenta el brillo */
}

/* Estilo del header */
.header-animate {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilo de la barra de navegación */
.navbar {
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

/* Botón de inicio de sesión */
.btn-light {
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
    border: 2px solid #000000; /* Borde negro */
}

.btn-light:hover {
    background-color: #f8f9fa; /* Gris claro */
    color: #000000; /* Negro */
}

/* Estilo para las cartas */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}




